*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
}

.wrapper>.header-block_left>img{
    height: 20px;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: inherit;
    padding: 10px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}
.header-block_right{
    display: flex;
}
.header-block_right>ul{
    display: flex;
    list-style: none;
}
.header-block_right>ul>li{
    
    
    font-size: 14px;
    font-weight: 600;
    margin: 0 7px;
    padding: 6px 10px;
    color: rgba(52, 58, 64, 0.8);
}
.header-block_right>.btt-try{
    padding: 6px 12px;
    margin-right: 10px;
    border-radius: 7px;
    color: #ffff;
    background-color: #00B4D8;
    border-color: transparent;
    cursor: pointer;
    font-size: 14px;
}

.hero-slide{
    /* width: 100%;
    height: 100vh; */
    margin-top: 50px;
    padding-top: 45%;
    background-image: url(./dung/img/hero-6-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #02000c;
    position: relative;
    
    
}

.content-heroSlide{
    color: #fff;
    position: absolute;
    bottom: 31%;
    display: flex;
    width: 40%;
    left: 31%;
    flex-direction: column;
    align-items: center;
}
.hero-slide .hero-btt{
    display: block;
}
.hero-slide .hero-btt .btt-contact{
    
    background-color: #00B4D8;
    padding: 10px 16px;
    color: #fff;
    border-radius: 7px;
    margin: 0 5px;
}
.hero-slide .hero-btt .btt-more{
    background-color: transparent;
    border: solid 1px #00B4D8;
    padding: 10px 16px;
    color: #00B4D8;
    border-radius: 7px;
   
}
.hero-slide .hero-btt .btt-more:hover{
    background-color: #00B4D8;
    color: #fff;
    border: solid 1px #00B4D8;
    padding: 10px 16px;
    border-radius: 7px;

}
.content-heroSlide .hero-p{
    color: #A7A9C0;
    margin:  26px 0 26px 0 ;
}
.info-web{
    padding: 100px 0px;
}
.info-web>.digital-web{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 12px;
    color: #343a40;
}

.info-web-p{
    line-height: 25px;
    padding: 5px 90px;
    text-align: center;
    color: #A7A9C0;
    margin: 20px 0;
}

.info-web .row{
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.row .row-item{
    padding: 20px;
    text-align: center;
    
}
.row .row-item p{
    color: #a7a9c0;
    margin: 10px;
    line-height: 1.6;
    font-size: 15px;
}
.row .row-item .fa-solid{
    font-size: 30px;
    margin: 30px 0;
    color: #a056a0;
}
/* ================================================== */
.bg {
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;
  }
  @keyframes blink {
    0%   { opacity: 0; }
    50% { opacity: 0.6; }
    100% { opacity: 0; }
  }
  .stars-bg__star {
    opacity: 0;
    animation: blink 3s infinite;
  }
  .stars-bg__blink-2 {
    animation-delay: 1s;
  }
  .stars-bg__blink-3 {
    animation-delay: 2s;
  }
  