*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  background-color: #eef1f8;
}
#wapper {
  display: flex;
  position: relative;
}
.sidebar {
  width: 260px;
  height: 100%;
  position: fixed;
  margin-left: 20px;
  margin-top: 24px;
}
.sidebar-content {
  border-radius: 15px;
  padding: 18px;
  background-color: #fff;
  height: 100%;
}
.logo img {
  height: 60px;
}
.sidebar .logo {
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}
.sidebar .logo span {
  font-weight: 400;
  margin: 0;
  line-height: 1;
  color: #131313;
  font-size: 1.44em;
}
.account {
  margin-top: 16px;
}
.name {
  margin-left: 12px;
}
.account img {
  height: 50px;
  width: 50px;
  line-height: 50px;
  min-width: 50px;
  border-radius: 10px;
}
.group {
  display: flex;
  align-items: center;
}
.group input {
  padding: 7px 0 7px 42px;
  outline: none;
  border: none;
  background-color: #f3f6fd;
  border-radius: 6px;
  margin: 12px 0 26px;
}
.group i {
  position: absolute;
  padding: 10px;
  font-size: 14px;
}
.sidebar-nav {
  color: #848486;
  margin-bottom: 20px;
}
.sidebar-nav:last-child {
  margin-bottom: 0;
} 
.sidebar-nav i {
  margin-right: 8px;
}

/* header */
.content {
  width: 100%;
  margin-left: 276px;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
.header-left {
  display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    background-color: #fff;
    border-radius: 6px;
}
.heading {
  margin: 0;
  font-size: 24px;
  padding: 20px;
}
.groupnew {
  display: inline-flex;
}
.groupnew>i {
  font-size: 14px;
  padding: 10px;
  margin-right: 4px;
}
.group-btn {
  background-color: #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-right: 26px;
}
.group-btn>i {
  padding: 10px;
  font-size: 14px;
  color: #fff;
}
.group-btn span {
  display: block;
  color: #fff;
  padding: 8px;
}
.header-right {
  background-color: #fff;
    display: flex;
    width: 12%;
    justify-content: space-between;
    padding: 19px;
    border-radius: 6px;
}
.email {
  background-color: #f3f6fd;
  padding: 6px 12px;
  border-radius: 6px;
  margin-right: 10px;
  position: relative;
}
.bell {
  background-color: #f3f6fd;
  padding: 6px 12px;
  border-radius: 6px;
  position: relative;
}
.email::after,
.bell::after {
  content: "2";
  position: absolute;
  height: 16px;
  width: 16px;
  line-height: 16px;
  top: -10px;
  right: -2px;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
}

/* content  */
.main {
  background-color: #fff;
  margin:24px;
  min-height: 800px;
  border-radius: 10px;
}
.main-content {
  padding: 24px;
}
.table {
  background-color: #fff;
  color: #fff;
  vertical-align: inherit;
}
tbody, td, tfoot, th, thead, tr {
  border: none;
}
.table-title {
  background-color: #000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.table-infor {
  color: #000;
  min-height: 50vh;
}
.table-infor {
  border-bottom: 1px solid #1f1c2f66;
}
.table-infor:last-child {
  border: none;
}
.table-infor>td>i {
  margin-right: 10px;
}
.btn-edit {
  background-color: #8ac3a3;
}
.btn-delete {
  background-color: #f674ad;
}
.btn-edit:hover{
  opacity: 0.7;
  background-color: #8ac3a3;
}
.btn-delete:hover {
  background-color: #f674ad;
  opacity: 0.7;
}

/* footer */

#footer {
  background-color: #fff;
  color: #768492;
  margin: 24px;
  border-radius: 10px;
}
.footer-content {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}